.choosed_object_class_section {
	overflow-y: scroll;
	display: flex;
	grid-area: choosed-object-classes;
	flex-direction: column;
	gap: var(--s-1);

	min-width: 300px;
	padding: var(--s-4);

	background: var(--background-secondary);
	border: 1px solid var(--border-secondary);
}

.tree_object_class {
	cursor: pointer;

	padding: var(--s-1);

	color: var(--text-primary);
	text-align: start;

	background: var(--background);
	border: 1px solid var(--border-secondary);
}

.tree_object_class:hover {
	filter: brightness(1.6);
}

.is_target_object_class {
	color: black;
	background: var(--grey-300);
}
