.out_block {
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: var(--s-2);

	padding: var(--s-2);

	background: var(--background-secondary);
	border: 1px solid var(--border-secondary);
}

.out_block pre {
	font-size: 16px;
}
