.aci_constructor_page {
	display: grid;
	grid-template-areas:
		'search_block search_block'
		'options_block out_block';
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: var(--s-2);

	height: 100%;
}

/* блок для поиска объекта */
.search_block {
	grid-area: search_block;
}

/* блок опция aci конструктора */
.options_block {
	grid-area: options_block;
}

/* блок вывода ответа */
.out_block {
	grid-area: out_block;
}
