.table_section {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	grid-template-rows: auto;
	gap: var(--s-2);

	height: 100%;
}

.error_message {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;

	text-wrap: balance;
}

/* таблица объект классов */
.object_classes {
	overflow-y: scroll;

	min-width: 300px;
	padding-inline: var(--s-4);

	background: var(--background-secondary);
	border: 1px solid var(--border-secondary);
}

.table {
	border-collapse: collapse;
	width: 100%;
	font: var(--font-l2);
	color: var(--text-primary);
}

.thead {
	position: sticky;
	z-index: 10;
	top: 0;
	background: var(--background-secondary);
}

.th {
	cursor: pointer;

	position: relative;

	width: fit-content;
	padding-block: var(--s-4);

	font-weight: 500;
	text-align: left;
	white-space: nowrap;
}

.thblock {
	display: flex;
	gap: var(--s-2);
}

.icon_button {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;

	background: none;
	border: none;
}

.icon_button svg {
	pointer-events: none;

	width: 20px;
	height: 20px;

	font: inherit;

	fill: var(--text-primary);
}

.icon_button:hover svg {
	fill: var(--red);
}

.object_class {
	cursor: pointer;
	display: flex;
	gap: var(--s-4);
	align-items: center;
}

.object_class:hover {
	color: var(--red);
}

/* блок иерархии выбранных объект классов */
.tree_object_classes {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: var(--s-1);

	min-width: 300px;
	padding: var(--s-4);

	background: var(--background-secondary);
	border: 1px solid var(--border-secondary);
}

.tree_object_class {
	cursor: pointer;

	padding: var(--s-1);

	color: var(--text-primary);
	text-align: start;

	background: var(--background);
	border: 1px solid var(--border-secondary);
}

.tree_object_class:hover {
	filter: brightness(1.6);
}

/* блок полученных атрибутоы */
.attributes {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: var(--s-1);

	min-width: 300px;
	padding: var(--s-4);

	background: var(--background-secondary);
	border: 1px solid var(--border-secondary);
}

.attribute {
	cursor: pointer;

	padding: var(--s-1);

	color: var(--text-primary);

	background: var(--background);
	border: 1px solid var(--border-secondary);
}

.attribute:hover {
	filter: brightness(1.6);
}

/* блок показа информации об атрибуте */
.out_attribute {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: var(--s-1);

	min-width: 300px;
	padding: var(--s-4);

	background: var(--background-secondary);
	border: 1px solid var(--border-secondary);
}

/* классы для обозначения интерактивоности */

/* подсветка активных иконок */
.active svg {
	fill: #00f200;
}

/* подсветка выбранного объект калссса */
.is_target_object_class {
	color: black;
	background: var(--grey-300);
}

/* подсветка обязательных атрибутов */
.is_require {
	color: black;
	background: #f28900;
}

/* подсветка атрибутов выбранного объект класса */
.attrs_for_target_object_class {
	pointer-events: none;
	opacity: 0.2;
}
