.search_block {
	display: flex;
	gap: var(--s-4);

	padding: var(--s-2);

	background: var(--background-secondary);
	border: 1px solid var(--border-secondary);
}

.search_block input {
	width: 800px;
	font-weight: 600;
}

.inputs_block {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	gap: var(--s-2);

	font-size: 14px;
}

.icon_button {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;

	background: none;
	border: none;
}

.icon_button svg {
	pointer-events: none;

	width: 24px;
	height: 24px;

	font: inherit;

	fill: var(--text-primary);
}

.icon_button:hover svg {
	fill: var(--red);
}

.off {
	pointer-events: none;
	opacity: 0.2;
}

.active svg {
	fill: #00f200;
}
