.effective_rights_page {
	display: grid;
	grid-template-areas:
		'search_block search_block'
		'tree_block attribute_right_block';
	grid-template-columns: 1fr minmax(300px, 400px);
	grid-template-rows: auto 1fr;
	gap: var(--s-2);

	height: 100%;
}

/* блок для поиска контейнера с проверкой прав */
.search_block {
	grid-area: search_block;
}

/* блок вывода ответа */
.tree_block {
	grid-area: tree_block;
}

/* блок вывода ответа */
.attribute_right_block {
	grid-area: attribute_right_block;
}

.error_message {
	display: flex;
	align-items: center;
	justify-content: end;

	height: 100%;

	text-wrap: balance;
}
